
<section>
    <div class="box">
        <div class="text">
            <h2>Name: </h2>
            {{selectedEmployee.name}}
            <h2>Phone number: </h2>
            {{selectedEmployee.phoneNumber}}
            <h2>Office number: </h2>
            {{selectedEmployee.officeNumber}}
            <h2>Position: </h2>
            {{selectedEmployee.position}}
            <h2>Manager: </h2>
            {{selectedEmployee.position}}
        </div>

        <button (click)="delete()">Delete employee!</button>
    </div>
</section>
